.pokedex{
    text-align: center;
}
.pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pokedex-winner{
    color: #4caf50;
}
.pokedex-loser{
    color: #e91e63;
}